<p>Dear {{ username }},</p>
<p>Request Type: {{ type }}</p>
<p>Request id: {{ id }} is approved by 岩橋　和也（既）</p>
<p>
  <a href="{{ url }}">URL</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>
